services:
  app:
    build:
      context: .
    image: host
    ports:
      - "4000:3000"
    environment:
      NODE_ENV: development
    volumes:
      - ./src:/app/src
      - ./public:/app/public
      - /app/node_modules
